<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My vacancies</title>
</head>
<body>
<div layout:fragment="content">
    <h1>My vacancies</h1>
    <a class="btn btn-default" th:href="@{/vacancies/create}">Add vacancy</a>
    <div th:if="${myvacancies.isEmpty()}">There is no available vacancy yet...</div>
    <ul class="list-unstyled" th:each="v : ${myvacancies}">
        <li th:include="/fragments/vacancyLoop :: vacancyRow(v=${v})">
        </li>
    </ul>
</div>
</body>
</html>